/* static/css/estilos.css */
body {
    background-color: #f8f9fa; /* Un gris muy clarito */
}
.navbar-brand {
    font-weight: bold;
    color: #d63384 !important; /* Un color rosado para destacar */
}